{
  "extends": [
    "standard"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype", "jsx-a11y", "react"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "generators": true,
      "experimentalObjectRestSpread": true
    }
  },
  "settings": {
    "import/ignore": [
      "node_modules",
      "\\.(json|css|jpg|jpeg|png|gif|eot|otf|webp|svg|ttf|woff|woff2|mp4|webm)$",
    ],
    "import/extensions": [".js"],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".json"]
      }
    }
  },
  // https://github.com/yannickcr/eslint-plugin-react/tree/master/docs/rules
  "react/jsx-equals-spacing": ["warn", "never"],
  "react/jsx-no-duplicate-props": ["warn", { "ignoreCase": true }],
  "react/jsx-no-undef": "warn",
  "react/jsx-pascal-case": ["warn", {
    "allowAllCaps": true,
    "ignore": []
  }],
  "react/jsx-uses-react": "warn",
  "react/jsx-uses-vars": "warn",
  "react/no-deprecated": "warn",
  "react/no-direct-mutation-state": "warn",
  "react/no-is-mounted": "warn",
  "react/react-in-jsx-scope": "warn",
  "react/require-render-return": "warn",

  // https://github.com/evcohen/eslint-plugin-jsx-a11y/tree/master/docs/rules
  "jsx-a11y/aria-role": "warn",
  "jsx-a11y/img-has-alt": "warn",
  "jsx-a11y/img-redundant-alt": "warn",
  "jsx-a11y/no-access-key": "warn",

  // https://github.com/gajus/eslint-plugin-flowtype
  "flowtype/define-flow-type": "warn",
  "flowtype/require-valid-file-annotation": "warn",
  "flowtype/use-flow-type": "warn"
}
